VITE_SUPABASE_URL=https://kvrtvlxufjsjdytcovzd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2cnR2bHh1ZmpzamR5dGNvdnpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MDM4MDcsImV4cCI6MjEwNTQ3OTgwN30.6Ktlzjs7PTaQFMaodJ4KjxIm0ofld1bETkVbu9kWBTA
